/*Resetting default margin and padding */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*Global styles*/
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f0f0f0;
}

.container {
    width: 80%;
    margin: auto;
    padding: 20px 0;
}

/* Header Styles*/
header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1em o;
}

/*Navigation menu styles*/
nav {
    background-color: #666;
    padding: 10px o;
}
nav ul {
    list-style-type: none;
    text-align: center;
}
nav ul li {
    display: inline;
    margin: 0 10px;
}
nav ul li a {
    color: #fff;
    text-decoration: none;
    padding: 10px 15px;
    transition: background-color 0.3s ease;
}
nav ul li a:hover {
    background-color: #444;
}

/*Footer styles*/
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1em o;
}

/*Responsive images*/
img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: auto;
}
.error {
    color: red;
    font-size: 0.8em;
}